*.user
Win32
x64
*.suo
*.ncb
.*sw?
*.make
*.cmake
.DS_Store
kernels/config.h
kernels/hash.h
include/embree3/rtcore_config.h
build
CMakeFiles
Makefile
imgui.ini
*.v4breakpoints
*.tga
CMakeCache.txt
Testing/Temporary
.vscode
.gitignore
