## Copyright 2022 Intel Corporation
## SPDX-License-Identifier: Apache-2.0

name: continuous

permissions: read-all

on: [push, workflow_dispatch]

jobs:
  ################################################################################
  ################################################################################
  # GPU tests
  ################################################################################
  ###############################################################################

  ########################################
  # Linux DG2
  ########################################

  linux-GPU-JIT-build:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: embree/ubuntu:24.04
      runs-on: '[ "Linux", "docker", "build" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env
      artifact-out: linux-GPU-JIT-build
      artifact-path: ./build/*.tar.gz
      cmd: |
        cmake --preset linux-DG2-JIT-PUBLIC -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target build

  linux-DG2-JIT-PUBLIC-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    needs: ["linux-GPU-JIT-build"]
    with:
      image: embree/ubuntu:24.04
      options: --device=/dev/dri:/dev/dri
      runs-on: '[ "Linux", "docker", "dg2" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env ./.github/workflows/gfx-ubuntu24-public.env
      artifact-in: linux-GPU-JIT-build
      cmd: |
        cmake --preset linux-DG2-JIT-PUBLIC -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target test_package

  linux-PVC-JIT-PUBLIC-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    needs: ["linux-GPU-JIT-build"]
    with:
      image: embree/ubuntu:24.04
      options: --device=/dev/dri:/dev/dri
      runs-on: '[ "Linux", "docker", "pvc" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env ./.github/workflows/gfx-ubuntu24-public.env
      artifact-in: linux-GPU-JIT-build
      cmd: |
        cmake --preset linux-DG2-JIT-PUBLIC -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target test_package

  linux-DG2-JIT-PUBLIC-ICX-build:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: embree/ubuntu:24.04
      runs-on: '[ "Linux", "docker", "build" ]'
      dpcpp-version: intel/2025.2
      artifact-out: linux-DG2-JIT-PUBLIC-ICX-build
      artifact-path: ./build/*.tar.gz
      cmd: |
        cmake --preset linux-DG2-JIT-PUBLIC-ICX -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target build

  linux-DG2-JIT-PUBLIC-ICX-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    needs: ["linux-DG2-JIT-PUBLIC-ICX-build"]
    with:
      image: embree/ubuntu:24.04
      options: --device=/dev/dri:/dev/dri
      runs-on: '[ "Linux", "docker", "dg2" ]'
      env-from-files: ./.github/workflows/gfx-ubuntu24-public.env
      dpcpp-version: intel/2025.2
      artifact-in: linux-DG2-JIT-PUBLIC-ICX-build
      cmd: |
        cmake --preset linux-DG2-JIT-PUBLIC-ICX -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target test_package


  linux-DG2-JIT-PUBLIC-debug-build:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: embree/ubuntu:24.04
      runs-on: '[ "Linux", "docker", "build" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env
      artifact-out: linux-DG2-JIT-PUBLIC-debug-build
      artifact-path: ./build/*.tar.gz
      cmd: |
        cmake --preset linux-DG2-JIT-PUBLIC-debug -DCMAKE_BUILD_TYPE=Debug -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Debug --target build

  ########################################
  # Windows DG2
  ########################################

  windows-JIT-build:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    with:
      force-delete: true
      runs-on: '[ "Windows", "NAS", "build" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env
      artifact-out: windows-JIT-build
      artifact-path: ./build/*.zip
      cmd: |
        cmake --preset windows-DG2-JIT-INTERNAL-L0RTAS -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target build

  windows-DG2-JIT-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    needs: ["windows-JIT-build"]
    with:
      runs-on: '[ "Windows", "dg2" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env ./.github/workflows/gfx-windows-public.env
      artifact-in: windows-JIT-build
      cmd: |
        cmake --preset windows-DG2-JIT-INTERNAL-L0RTAS -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target test_package

  windows-BMG-JIT-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    needs: ["windows-JIT-build"]
    with:
      runs-on: '[ "Windows", "bmg" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env ./.github/workflows/gfx-windows-public.env
      artifact-in: windows-JIT-build
      cmd: |
        cmake --preset windows-DG2-JIT-INTERNAL-L0RTAS -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target test_package

  windows-LNL-JIT-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    needs: ["windows-JIT-build"]
    with:
      runs-on: '[ "Windows", "lnl" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env ./.github/workflows/gfx-windows-public.env
      artifact-in: windows-JIT-build
      cmd: |
        cmake --preset windows-DG2-JIT-INTERNAL-L0RTAS -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target test_package

  windows-DG2-JIT-INTERNAL-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    needs: ["windows-JIT-build"]
    with:
      runs-on: '[ "Windows", "NAS", "dg2" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env ./.github/workflows/gfx-windows-internal.env
      artifact-in: windows-JIT-build
      cmd: |
        cmake --preset windows-DG2-JIT-INTERNAL-L0RTAS -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target test_package

  windows-DG2-JIT-ICX-build:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    with:
      runs-on: '[ "Windows", "NAS", "dg2" ]'
      dpcpp-version: intel/2025.2
      env-from-files: ./.github/workflows/gfx-windows-public.env
      artifact-out: windows-DG2-JIT-ICX-build
      artifact-path: ./build/*.zip
      cmd: |
        cmake --preset nightly-windows-DG2-JIT-ICX -DCMAKE_BUILD_TYPE=Release -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target build

  windows-DG2-JIT-debug-build:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    with:
      force-delete: true
      runs-on: '[ "Windows", "NAS", "build" ]'
      env-from-files: ./.github/workflows/dpcpp-sycl-nightly.env
      cmd: |
        cmake --preset windows-DG2-JIT-INTERNAL-L0RTAS-debug -DCMAKE_BUILD_TYPE=Debug -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Debug --target build

#   ################################################################################
#   ################################################################################
#   # CPU tests
#   ################################################################################
#   ################################################################################

#   ########################################
#   # Linux
#   ########################################

  linux-fedora42-CLANG:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: embree/fedora:42
      runs-on: '[ "Linux", "docker", "avx512" ]'
      cmd: |
        cmake --preset linux-fedora42-CLANG -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=2
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --config RelWithDebInfo --target test_package

  linux-fedora42-CLANG-INT-ADDRSANITIZER:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: embree/fedora:42
      runs-on: '[ "Linux", "docker", "build" ]'
      cmd: |
        cmake --preset linux-fedora42-CLANG-INT-ADDRSANITIZER -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=1
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --config RelWithDebInfo --target test_package

  linux-fedora42-ICX:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: embree/fedora:42
      runs-on: '[ "Linux", "docker", "avx512" ]'
      dpcpp-version: intel/2025.2
      cmd: |
        cmake --preset linux-fedora42-ICX -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=2
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --config RelWithDebInfo --target test_package

  linux-ubuntu24_04-GCC:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: embree/ubuntu:24.04
      runs-on: '[ "Linux", "docker", "avx512" ]'
      cmd: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DEMBREE_TESTING_INSTALL_TESTS=ON -DCMAKE_INSTALL_TESTDIR="testing" -DEMBREE_TESTING_INTENSITY=3
        cmake --build build --config Release --target build
        cmake --build build --config Release --target test_package

  linux-ubuntu24_04-ICX:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: embree/ubuntu:24.04
      runs-on: '[ "Linux", "docker", "avx512" ]'
      dpcpp-version: intel/2025.2
      cmd: |
        cmake --preset linux-ubuntu24_04-ICX -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=2
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --config RelWithDebInfo --target test_package

  ########################################
  # Windows
  ########################################
  windows-V142:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    with:
      force-delete: true
      runs-on: '[ "Windows", "NAS", "build" ]'
      dpcpp-version: none
      cmd: |
        cmake --preset windows-V142 -D CMAKE_BUILD_TYPE=RelWithDebInfo -D EMBREE_TESTING_INTENSITY=2
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --target test_package

  #TODO: spontaneous build error with icx on windows
  #windows-ICX:
  #  secrets: inherit
  #  uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
  #  with:
  #    force-delete: true
  #    runs-on: '[ "Windows", "NAS", "build", "avx512" ]'
  #    dpcpp-version: intel/2025.2
  #    cmd: |
  #      cmake --preset windows-ICX -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=2
  #      cmake --build build --config RelWithDebInfo --target build
  #      cmake --build build --config RelWithDebInfo --target test_package

  ########################################
  # MacOS
  ########################################

  macosx-ARM-CLANG-NEON-AVX2:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    with:
      runs-on: '[ "macOS", "build", "arm" ]'
      cmd: |
        cmake --preset macos-ARM-CLANG-NEON-AVX2 -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=2
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --config RelWithDebInfo --target test_package

  macosx-ARM-CLANG-NEON:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    with:
      runs-on: '[ "macOS", "build", "arm" ]'
      cmd: |
        cmake --preset macos-ARM-CLANG-NEON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=2
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --config RelWithDebInfo --target test_package

  macosx-x64-CLANG:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    with:
      runs-on: '[ "macOS", "build", "x86_64" ]'
      cmd: |
        cmake --preset macos-x64-CLANG -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=2
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --config RelWithDebInfo --target test_package

  macosx-ARM-CLANG-NEON-AVX2-universal-binaries:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    with:
      runs-on: '[ "macOS", "build", "arm" ]'
      cmd: |
        cmake --preset macos-ARM-CLANG-NEON-AVX2-UB -DCMAKE_BUILD_TYPE=RelWithDebInfo -DEMBREE_TESTING_INTENSITY=2 -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64" -DEMBREE_BUILD_GLFW_FROM_SOURCE=ON -DEMBREE_ISPC_SUPPORT=OFF
        cmake --build build --config RelWithDebInfo --target build
        cmake --build build --config RelWithDebInfo --target test_package

  ########################################
  # Static code analysis jobs
  ########################################

  static-analysis-lin:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/static_analysis.yml@main
    with:
      os: Linux
      project: Embree
      submodules: true
      prebuild: >
        export NAS_LINUX=$STORAGE_PATH/packages/apps &&
        cmake --preset linux-coverity
      build: sh scripts/coverity.sh
