## Copyright 2022 Intel Corporation
## SPDX-License-Identifier: Apache-2.0

name: performance

on: 
  schedule:
    - cron:  '00 01 * * *'
  workflow_dispatch:

jobs:

  ########################################
  # Linux build
  ########################################

  linux-build-SYCL-DPCPP:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker_gpu.yml@main
    with:
      image: embree/ubuntu:22.04
      options: --device=/dev/dri:/dev/dri
      runs-on: '[ "Linux", "docker", "dg2" ]'
      project: embree
      env-from-files: ./.github/workflows/dpcpp-none.env ./.github/workflows/gfx-ubuntu22-public.env
      dpcpp-version: intel/2023.0
      artifact-out: linux-SYCL-DPCPP
      artifact-path: ./build/*.tar.gz
      cmd: |
        source scripts/cmake-presets/linux-env.sh
        $CMAKE_EXE --preset package-linux-icx-sycl-ispc1_19_0-tbb2021_9_0-perf
        $CMAKE_EXE --build build --config Release --target package
        $CMAKE_EXE --build build --target post_package

  linux-build-x86-ICX-ISPC:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker_gpu.yml@main
    with:
      image: embree/rockylinux:8.7
      runs-on: '[ "Linux", "docker", "avx512" ]'
      dpcpp-version: intel/2024.0
      artifact-out: linux-build-x86-ICX-ISPC
      artifact-path: ./build/*.tar.gz
      cmd: |
        source scripts/cmake-presets/linux-env.sh
        $CMAKE_EXE --preset package-linux-icx-ispc1_19_0-tbb2021_9_0-perf
        $CMAKE_EXE --build build --config Release --target package
        $CMAKE_EXE --build build --target post_package

  linux-test-DG2-A770-perf:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker_gpu.yml@main
    needs: ["linux-build-SYCL-DPCPP"]
    with:
      image: embree/ubuntu:22.04
      options: --device=/dev/dri:/dev/dri
      runs-on: '[ "Linux", "docker", "dg2", "perf", "A770" ]'
      project: embree
      env-from-files: ./.github/workflows/dpcpp-none.env ./.github/workflows/gfx-ubuntu22-public.env
      artifact-in: linux-SYCL-DPCPP
      setup-benny: true
      cmd: |
        source <(scripts/test.py env --debug)
        cd build
        tar -xf embree-?.?.?.sycl.x86_64.linux.tar.gz
        cd bin
        chmod +x ../embree-vars.sh
        ../embree-vars.sh
        $GITHUB_WORKSPACE/scripts/run-perf.sh gpu


  linux-test-PVC-perf:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker_gpu.yml@main
    needs: ["linux-build-SYCL-DPCPP"]
    with:
      image: embree/ubuntu:22.04
      options: --device=/dev/dri:/dev/dri
      runs-on: '[ "Linux", "docker", "pvc", "perf" ]'
      project: embree
      env-from-files: ./.github/workflows/dpcpp-none.env ./.github/workflows/gfx-ubuntu22-public.env
      artifact-in: linux-SYCL-DPCPP
      setup-benny: true
      cmd: |
        export NEOReadDebugKeys=1
        # Run it on single tile (disable implicit scaling)
        export EnableImplicitScaling=0
        source <(scripts/test.py env --debug)
        cd build
        tar -xf embree-?.?.?.sycl.x86_64.linux.tar.gz
        cd bin
        chmod +x ../embree-vars.sh
        ../embree-vars.sh
        $GITHUB_WORKSPACE/scripts/run-perf.sh gpu


  linux-test-i9-12900k:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/perf.yml@main
    needs: ["linux-build-x86-ICX-ISPC"]
    with:
      runs-on: '[ "Linux", "perf", "vis-perf-i9-12900k-1" ]'
      artifact-in: linux-build-x86-ICX-ISPC
      setup-benny: true
      cmd: |
        cd build
        tar -xf embree-?.?.?.x86_64.linux.tar.gz
        cd bin
        $GITHUB_WORKSPACE/scripts/run-perf.sh cpu


  linux-test-x8380-1:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/perf.yml@main
    needs: ["linux-build-x86-ICX-ISPC"]
    with:
      runs-on: '[ "Linux", "perf", "vis-perf-x8380-1" ]'
      artifact-in: linux-build-x86-ICX-ISPC
      setup-benny: true
      cmd: |
        cd build
        tar -xf embree-?.?.?.x86_64.linux.tar.gz
        cd bin
        $GITHUB_WORKSPACE/scripts/run-perf.sh cpu


  linux-test-x8280-1:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/perf.yml@main
    needs: ["linux-build-x86-ICX-ISPC"]
    with:
      runs-on: '[ "Linux", "perf", "vis-perf-x8280-1" ]'
      artifact-in: linux-build-x86-ICX-ISPC
      setup-benny: true
      cmd: |
        cd build
        tar -xf embree-?.?.?.x86_64.linux.tar.gz
        cd bin
        $GITHUB_WORKSPACE/scripts/run-perf.sh cpu


  linux-test-a3970x-1:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/perf.yml@main
    needs: ["linux-build-x86-ICX-ISPC"]
    with:
      runs-on: '[ "Linux", "perf", "vis-perf-a3970x-1" ]'
      artifact-in: linux-build-x86-ICX-ISPC
      setup-benny: true
      cmd: |
        cd build
        tar -xf embree-?.?.?.x86_64.linux.tar.gz
        cd bin
        $GITHUB_WORKSPACE/scripts/run-perf.sh cpu

