## Copyright 2022 Intel Corporation
## SPDX-License-Identifier: Apache-2.0

name: release

permissions: read-all

on:
  schedule:
    - cron:  '01 00 * * *'
  workflow_dispatch:

jobs:

####################################################################
# CPU Builds and Tests
####################################################################
  build-windows:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    with:
      runs-on: '[ "Windows", "build"]'
      artifact-out: build-windows
      artifact-path: ./build/embree-*.zip
      dpcpp-version: intel-llvm/v6.2.0
      cmd: |
        cmake --preset release-windows -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release --target build

  windows-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    needs: ["build-windows"]
    strategy:
      fail-fast: false
      matrix:
        platform: [avx2, avx512]
    with:
      runs-on: '[ "Windows", "${{ matrix.platform }}" ]'
      artifact-in: build-windows
      cmd: |
        # Merge binaries & testing packages
        $dest = "./build/embree-release"
        New-Item -ItemType Directory -Path $dest -Force | Out-Null
        Get-ChildItem -Path "./build/*.zip" | 
          ForEach-Object { Expand-Archive -Path $_.FullName -DestinationPath $dest -Force }
        
        # Run testing
        cd $dest
        cmake -S testing -B build
        cd build
        ctest -C Release --output-on-failure -VV

  build-macosx-x86_64:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    with:
      runs-on: '[ "macOS", "build", "x86_64" ]'
      cmd: |
        source scripts/cmake-presets/macos-env.sh
        cmake --preset release-macos -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release --target build
      notarize-package: ./build/embree-*.x86_64.macosx.zip
      artifact-out: build-macosx-x86_64
      artifact-path: ./build/embree-*.zip

  test-macosx-x86_64:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    needs: ["build-macosx-x86_64"]
    strategy:
      fail-fast: false
      matrix:
        platform: [arm, x86_64]
    with:
      runs-on: '[ "macOS", "${{ matrix.platform }}" ]'
      artifact-in: build-macosx-x86_64
      cmd: |
        # Merge binaries & testing packages
        dest="./build/embree-release"
        mkdir -p "$dest"
        for archive in ./build/*.zip; do
          unzip -o "$archive" -d "$dest"
        done

        # Run testing
        cd $dest
        cmake -S testing -B build
        cd build
        ctest -C Release --output-on-failure -VV

  build-macosx-arm:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    with:
      runs-on: '[ "macOS", "build", "arm" ]'
      cmd: |
        source scripts/cmake-presets/macos-env.sh
        cmake --preset release-macos-arm -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release --target build
      notarize-package: build/embree-*.arm64.macosx.zip
      artifact-out: build-macosx-arm
      artifact-path: ./build/*.zip

  test-macosx-arm:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    needs: ["build-macosx-arm"]
    strategy:
      fail-fast: false
      matrix:
        platform: [arm]
    with:
      runs-on: '[ "macOS", "${{ matrix.platform }}" ]'
      artifact-in: build-macosx-arm
      cmd: |
        # Merge binaries & testing packages
        dest="./build/embree-release"
        mkdir -p "$dest"
        for archive in ./build/*.zip; do
          unzip -o "$archive" -d "$dest"
        done

        # Run testing
        cd $dest
        cmake -S testing -B build
        cd build
        ctest -C Release --output-on-failure -VV

  build-linux:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: rockylinux:8.7
      runs-on: '[ "Linux", "build" ]'
      artifact-out: build-linux
      artifact-path: ./build/*.tar.gz
      dpcpp-version: intel-llvm/v6.2.0
      pre-cmd: |
        dnf -y install epel-release
        dnf -y config-manager --set-enabled powertools
        dnf -y install ninja-build
      cmd: |
        cmake --preset release-linux -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release --target build

  linux-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    needs: ["build-linux"]
    strategy:
      fail-fast: false
      matrix:
        platform: [avx512, avx2]
    with:
      image: ubuntu:24.04
      runs-on: '[ "Linux", "${{ matrix.platform }}" ]'
      artifact-in: build-linux
      cmd: |
        # Merge binaries & testing packages
        dest="./build/embree-release"
        mkdir -p "$dest"
        for archive in ./build/*.tar.gz; do
          tar -xzf "$archive" -C "$dest"
        done

        # Run testing
        cd $dest
        cmake -S testing -B build
        cd build
        ctest -C Release --output-on-failure -VV


#####################################################################
# SYCL Builds and Tests
####################################################################
  build-windows-sycl:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    with:
      runs-on: '[ "Windows", "build" ]'
      dpcpp-version: intel-llvm/v6.2.0
      artifact-out: build-windows-sycl
      artifact-path: ./build/*.zip
      cmd: |
        cmake --preset release-windows-sycl -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release --target build

  build-linux-sycl:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    with:
      image: rockylinux:8.7
      runs-on: '[ "Linux", "build" ]'
      dpcpp-version: intel-llvm/v6.2.0
      artifact-out: build-linux-sycl
      artifact-path: ./build/*.tar.gz
      pre-cmd: |
        dnf -y install epel-release
        dnf -y config-manager --set-enabled powertools
        dnf -y install ninja-build
      cmd: |
        cmake --preset release-linux-sycl -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release --target build

  windows-sycl-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/windows.yml@main
    needs: ["build-windows-sycl"]
    strategy:
      fail-fast: false
      matrix:
        platform: [dg2, bmg, lnl]
    with:
      runs-on: '[ "Windows", "${{ matrix.platform }}" ]'
      env-from-files: ./.github/workflows/gfx-windows-public.env
      artifact-in: build-windows-sycl
      cmd: |
        # Merge binaries & testing packages
        $dest = "./build/embree-release"
        New-Item -ItemType Directory -Path $dest -Force | Out-Null
        Get-ChildItem -Path "./build/*.zip" | 
          ForEach-Object { Expand-Archive -Path $_.FullName -DestinationPath $dest -Force }
        
        # Run testing
        cd $dest
        cmake -S testing -B build
        cd build
        ctest -C Release --output-on-failure -VV

  linux-sycl-test:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/docker.yml@main
    needs: ["build-linux-sycl"]
    strategy:
      fail-fast: false
      matrix:
        platform: [dg2, pvc, atsm]
    with:
      image: ubuntu:24.04
      options: --device=/dev/dri:/dev/dri
      runs-on: '[ "Linux", "${{ matrix.platform }}" ]'
      env-from-files: ./.github/workflows/gfx-ubuntu24-public.env
      artifact-in: build-linux-sycl
      cmd: |
        # Merge binaries & testing packages
        dest="./build/embree-release"
        mkdir -p "$dest"
        for archive in ./build/*.tar.gz; do
          tar -xzf "$archive" -C "$dest"
        done

        # Run testing
        cd $dest
        cmake -S testing -B build
        cd build
        ctest -C Release --output-on-failure -VV


#####################################################################
# Release binaries scans
#####################################################################
  binary-analysis:
    needs:
      - build-windows
      - build-macosx-x86_64
      - build-linux
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/binary_analysis.yml@main
    with:
      project: embree
      artifact-in-windows: build-windows
      artifact-in-macos: build-macosx-x86_64
      artifact-in-linux: build-linux
      path: "build/*.zip build/*.gz"

  antivirus-scan:
    needs:
      - build-windows
      - build-macosx-x86_64
      - build-linux
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/antivirus_scan.yml@main
    with:
      project: embree
      artifact-in-windows: build-windows
      artifact-in-macos: build-macosx-x86_64
      artifact-in-linux: build-linux
      path: "build/*.zip build/*.gz"

  binary-analysis-sycl:
    needs:
      - build-windows-sycl
      - build-linux-sycl
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/binary_analysis.yml@main
    with:
      project: embree
      artifact-in-windows: build-windows-sycl
      artifact-in-linux: build-linux-sycl
      path: "build/*.zip build/*.gz"
      artifact-out-name: "binary-analysis-sycl"

  antivirus-scan-sycl:
    needs:
      - build-windows-sycl
      - build-linux-sycl
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/antivirus_scan.yml@main
    with:
      project: embree
      artifact-in-windows: build-windows-sycl
      artifact-in-linux: build-linux-sycl
      path: "build/*.zip build/*.gz"
      artifact-out-name: "antivirus-scan-sycl"

  binary-analysis-arm:
    needs:
      - build-macosx-arm
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/binary_analysis.yml@main
    with:
      project: embree
      artifact-in-macos: build-macosx-arm
      path: "build/*.zip"
      artifact-out-name: "binary-analysis-arm"

  antivirus-scan-arm:
    needs:
      - build-macosx-arm
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/antivirus_scan.yml@main
    with:
      project: embree
      artifact-in-macos: build-macosx-arm
      path: "build/*.zip"
      artifact-out-name: "antivirus-scan-arm"